#root {
  margin-top: 0%;
  text-align: center;
  color: #394726;
  width: 100%;
  justify-content: center;
  width: 100%;
}
.App{
  margin: 0 auto;
  margin-top: 300px;
  width: 100%;
  display: block;
  text-align: center;
  justify-content: center;
  height: 100%;
}


@font-face {
  font-family: "Alfabet";
  src: url('fontspring-demo-alfabet-thin-webfont.woff2') format('woff2'),
       url('fontspring-demo-alfabet-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
